[Unit]
Description=Run the raciderry synth as a service task 

[Service]
Type=simple
ExecStart=/home/patch/raciderry

[Install]
WantedBy=multi-user.target