name: Unit tests

on:
  push:
    branches: [ master, develop]
  pull_request:
    branches: [ master, develop ]

jobs:
  Unit-Tests:

    runs-on: ubuntu-latest

    steps:
    - name: Preinstall
      run: |
        id
        sudo apt-get update
        sudo apt-get install -y wget unzip git make libfreetype-dev g++ libasound2-dev libcurl4-openssl-dev pkg-config
    - name: JUCE install
      run: |
        wget https://github.com/juce-framework/JUCE/releases/download/6.0.8/juce-6.0.8-linux.zip
        mkdir -p ~/JUCE
        unzip juce-6.0.8-linux.zip -d ~
    - uses: actions/checkout@v2
    - name: Projucer Configure
      run: ~/JUCE/Projucer --resave raciderry.jucer
    - name: make
      run: make -C Builds/LinuxMakefile CONFIG=UnitTests -j2
    - name: tests
      run: ./Builds/LinuxMakefile/build/tests